<!--  -->{% extends "base.html" %}<!--  -->

<!--  -->{% block apps %}<!--  -->
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card border-primary">
    <div class="card-header text-center text-bg-primary">
      <div class="h5">Register</div>
    </div>
    <div class="card-body">
      <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="pwd"
            name="password"
            required
          />
        </div>
        <div class="alert alert-danger" role="alert" {{alert}}>{{msg}}</div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block">
            Submit
          </button>
        </div>
      </form>
      <hr class="border border-primary" />
      <div class="text-end">
        <small class="text-body-secondary">
          Already have an account?
          <a
            href="{% url 'web:login' %}"
            class="text-right text-decoration-none"
            >Login</a
          >
        </small>
      </div>
    </div>
  </div>
</div>
<!--  -->{% endblock apps %}<!--  -->
